@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FBE8A6;
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    height: 150px;
    font-size: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #B4DFE5;
    padding: 20px;
}

.description h2 {
    font-size: 30px;
    text-align: center;
}

.description p {
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-size: 20px;
    width: 50%;
    background-color: #303C6C;
    color: white;
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-size: 20px;
    width: 50%;
    background-color: #F4976C;
}

.activity span {
    font-size: 22px;
    font-weight: 600;
}

.footer {
    padding: 15px;
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: rgb(82, 80, 80);
}